<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugins-BluetoothStatusMonitoring" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>bluestatus</name>
	<js-module name="bluestatus" src="www/bluestatus.js">
		<clobbers target="bluestatus" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BluetoothStatusMonitoring">
				<param name="android-package" value="com.laysolitary.bluestatus.BluetoothStatusMonitoring" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/BluetoothStatusMonitoring.java" target-dir="src/com/laysolitary/bluestatus" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="BluetoothStatusMonitoring">
				<param name="ios-package" value="BluetoothStatusMonitoring" />
			</feature>
		</config-file>
		<header-file src="src/ios/BluetoothStatusMonitoring.h" />
		<source-file src="src/ios/BluetoothStatusMonitoring.m" />
	</platform>
</plugin>

